*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif
}

header{
   display: flex;
   flex-direction: column;
   align-items: center;
   padding: 10px; 
   background-color: lightpink;
}

div{
    margin-bottom: 30px;
}

nav{
    display: flex;
    flex-direction: row;
    list-style-type: none;
    gap: 40px;
}

.main-contain{
    margin: 0 auto;
    max-width: 800px;
}
.bio-hero{
    padding: 30px 10px;
    display: flex;
    flex-direction: column;
    background-color: beige;
    flex-basis: 100%;
}

.card-grid{
    padding: 30px 0px;
    display: flex;
    flex-direction: column;
}

a{
    text-decoration: none;
}

.card{
    flex-basis: 100%;
    background-color: lightblue;
    padding: 1.5rem;
    border-radius: 8px;
    margin: 10px;
}

/* Citation for method used: https://librarycss.com/en/guides/hover-effects */
.card:hover{
    transform:translateY(-10px);
    box-shadow: 4px 6px black;
}

footer{
    text-align: center;
    background-color: lightpink;
    padding: 10px;
}

@media (min-width: 768px){
    header{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    div{
        margin: 0px;
    }
    nav{
        margin-right: 50px; 
    }
    .card-grid{
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }
    .card{
        flex-basis: 30%;
    }
}
    